 <div class="logo">
            <img src="https://ak.picdn.net/assets/base/error/logo-white-x2.png"/>
            <h1>Lighthouse</h1>
            <img src="https://developers.google.com/web/progressive-web-apps/images/pwa-lighthouse.png" height="75px"/>
        </div>
        <div class="desc">An app to run a Lighthouse audit on shutterstock.com every five minutes and aggregate the results.</div>
        <div class="textScores">
        {{#each pageTypes}}
            <span id="{{this.name}}">
                Today's Lighthouse performance score average for {{this.title}} is: 
                    <span id="{{this.name}}Score" class="score"></span>. 
                This script has run 
                    <span id="{{this.name}}Runs" class="score"></span> times. 
                <span id="{{this.name}}Running" class="running"><img src="https://az620379.vo.msecnd.net/images/loading.gif" class="spinner"/></span>  
            </span>
            <br/>
        {{/each}}
        </div>

        <hr/>

        <div id="logsContainer">
            <div id="opportunitiesContainer">
                <div id="opportunitiesTitle" class="headerTitle">Today's Performance Opportunities</div>
                {{#each pageTypes}}
                <div class="pageTitle">{{this.title}}</div>
                <div class="url"><a href="" class="{{this.name}}URL"></a></div>
                <div id="{{this.name}}Opportunities" class="opportunities"></div>
                {{/each}}
            </div>
            <div class="averagesContainer">
                <div id="averagesTitle" class="headerTitle">Today's Hourly Performance Score Averages</div>
                {{#each pageTypes}}
                <div class="pageTitle">{{this.title}}</div>
                <div class="url"><a href="" class="{{this.name}}URL"></a></div>
                <iframe src="/logs/performance_scores_{{this.name}}.txt" class="log"></iframe>
                {{/each}}
            </div>
        </div>

        <div id="like_button_container"></div>
